<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="zhentao.zhang.dao.PostMapper" >
    <select id="selectAllPost" resultType="zhentao.zhang.pojo.Post">
        
    </select>
    <select id="selectByCondition" resultMap="PostResult">
        select * from post
        #{whereClause,jdbcType=VARCHAR}
        #{orderByClause,jdbcType=VARCHAR}
        #{limitClause,jdbcType=VARCHAR}
    </select>
    <resultMap type="zhentao.zhang.pojo.Post" id="PostResult">
	    <id column="post_id" property="postId" jdbcType="INTEGER" />
	    <association property="user" column="user_id" select="zhentao.zhang.dao.UserMapper.selectByPrimaryKey"/>
	    <result column="title" property="title" jdbcType="VARCHAR" />
	    <result column="content" property="content" jdbcType="VARCHAR" />
	    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
	    <result column="review_count" property="reviewCount" jdbcType="INTEGER" />
	    <result column="is_delete" property="isDelete" jdbcType="SMALLINT" />
	    <result column="like_count" property="likeCount" jdbcType="INTEGER" />
	    <result column="read_count" property="readCount" jdbcType="INTEGER"/>
	    <result column="type" property="type" jdbcType="INTEGER"/>
    </resultMap>
    <select id="selectByPrimaryKey" resultMap="PostResult" parameterType="java.lang.Integer" >
      select 
      *
      from post
      where post_id = #{postId,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
	  delete from post
	  where post_id = #{postId,jdbcType=INTEGER}
	</delete>
	<update id="softDeleteByPrimaryKey" parameterType="java.lang.Integer">
	   update from post
	   set is_delete = true
	   where post_id = #{postId,jdbcType=INTEGER}
	</update>
    <insert id="insertSelective" parameterType="zhentao.zhang.pojo.Post" >
    insert into post
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="postId != null" >
        post_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="isDelete != null" >
        is_delete,
      </if>
      <if test="type != null">
        type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="postId != null" >
        #{postId,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDelete != null" >
        #{isDelete,jdbcType=SMALLINT},
      </if>
      <if test="type != null" >
        #{type,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>

  <!-- <resultMap id="BaseResultMap" type="zhentao.zhang.pojo.Post" >
    
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
   
    <id column="post_id" property="postId" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="note" property="note" jdbcType="VARCHAR" />
    <result column="is_delete" property="isDelete" jdbcType="BIT" />
    <result column="other" property="other" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
   
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
   
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
   
    post_id, user_id, title, content, create_time, note, is_delete, other
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="zhentao.zhang.pojo.PostExample" >
    
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
   
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from post
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  
  
  <delete id="deleteByExample" parameterType="zhentao.zhang.pojo.PostExample" >
    
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
   
    delete from post
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="zhentao.zhang.pojo.Post" >
    
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
   
    insert into post (post_id, user_id, title, 
      content, create_time, note, 
      is_delete, other)
    values (#{postId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, 
      #{content,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{note,jdbcType=VARCHAR}, 
      #{isDelete,jdbcType=BIT}, #{other,jdbcType=VARCHAR})
  </insert>
  
  <select id="countByExample" parameterType="zhentao.zhang.pojo.PostExample" resultType="java.lang.Integer" >
    
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
   
    select count(*) from post
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
   
    update post
    <set >
      <if test="record.postId != null" >
        post_id = #{record.postId,jdbcType=INTEGER},
      </if>
      <if test="record.userId != null" >
        user_id = #{record.userId,jdbcType=INTEGER},
      </if>
      <if test="record.title != null" >
        title = #{record.title,jdbcType=VARCHAR},
      </if>
      <if test="record.content != null" >
        content = #{record.content,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.note != null" >
        note = #{record.note,jdbcType=VARCHAR},
      </if>
      <if test="record.isDelete != null" >
        is_delete = #{record.isDelete,jdbcType=BIT},
      </if>
      <if test="record.other != null" >
        other = #{record.other,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
   
    update post
    set post_id = #{record.postId,jdbcType=INTEGER},
      user_id = #{record.userId,jdbcType=INTEGER},
      title = #{record.title,jdbcType=VARCHAR},
      content = #{record.content,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      note = #{record.note,jdbcType=VARCHAR},
      is_delete = #{record.isDelete,jdbcType=BIT},
      other = #{record.other,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="zhentao.zhang.pojo.Post" >
    
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
   
    update post
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="note != null" >
        note = #{note,jdbcType=VARCHAR},
      </if>
      <if test="isDelete != null" >
        is_delete = #{isDelete,jdbcType=BIT},
      </if>
      <if test="other != null" >
        other = #{other,jdbcType=VARCHAR},
      </if>
    </set>
    where post_id = #{postId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="zhentao.zhang.pojo.Post" >
    
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
   
    update post
    set user_id = #{userId,jdbcType=INTEGER},
      title = #{title,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      note = #{note,jdbcType=VARCHAR},
      is_delete = #{isDelete,jdbcType=BIT},
      other = #{other,jdbcType=VARCHAR}
    where post_id = #{postId,jdbcType=INTEGER}
  </update> -->
</mapper>