<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="zhentao.zhang.dao.RefereeMapper" >
  <insert id="insertSelective" useGeneratedKeys="true" keyProperty="refereeId" parameterType="zhentao.zhang.pojo.Referee" >
    insert into referee
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="experience != null" >
        experience,
      </if>
      <if test="honor != null" >
        honor,
      </if>
      <if test="rank != null" >
        rank,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="experience != null" >
        #{experience,jdbcType=VARCHAR},
      </if>
      <if test="honor != null" >
        #{honor,jdbcType=VARCHAR},
      </if>
      <if test="rank != null" >
        #{rank,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="zhentao.zhang.pojo.Referee" >
    update referee
    <set >
      <if test="experience != null" >
        experience = #{experience,jdbcType=VARCHAR},
      </if>
      <if test="honor != null" >
        honor = #{honor,jdbcType=VARCHAR},
      </if>
      <if test="rank != null" >
        rank = #{rank,jdbcType=VARCHAR},
      </if>
    </set>
    where referee_id = #{refereeId,jdbcType=INTEGER}
  </update>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from referee
    where referee_id = #{refereeId,jdbcType=INTEGER}
  </delete>
  <select id="selectByPrimaryKey" resultType="zhentao.zhang.pojo.Referee" parameterType="java.lang.Integer" >
    select *
    from referee
    where referee_id = #{refereeId,jdbcType=INTEGER}
  </select>




  <resultMap id="BaseResultMap" type="zhentao.zhang.pojo.Referee" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    <id column="referee_id" property="refereeId" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="start_judge_time" property="startJudgeTime" jdbcType="DATE" />
    <result column="experience" property="experience" jdbcType="VARCHAR" />
    <result column="honor" property="honor" jdbcType="VARCHAR" />
    <result column="certificate" property="certificate" jdbcType="VARCHAR" />
    <result column="register_time" property="registerTime" jdbcType="TIMESTAMP" />
    <result column="note" property="note" jdbcType="VARCHAR" />
    <result column="is_delete" property="isDelete" jdbcType="BIT" />
    <result column="other" property="other" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    referee_id, user_id, start_judge_time, experience, honor, certificate, register_time, 
    note, is_delete, other
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="zhentao.zhang.pojo.RefereeExample" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from referee
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  
  
  <delete id="deleteByExample" parameterType="zhentao.zhang.pojo.RefereeExample" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    delete from referee
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="zhentao.zhang.pojo.Referee" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    insert into referee (referee_id, user_id, start_judge_time, 
      experience, honor, certificate, 
      register_time, note, is_delete, 
      other)
    values (#{refereeId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{startJudgeTime,jdbcType=DATE}, 
      #{experience,jdbcType=VARCHAR}, #{honor,jdbcType=VARCHAR}, #{certificate,jdbcType=VARCHAR}, 
      #{registerTime,jdbcType=TIMESTAMP}, #{note,jdbcType=VARCHAR}, #{isDelete,jdbcType=BIT}, 
      #{other,jdbcType=VARCHAR})
  </insert>
  
  <select id="countByExample" parameterType="zhentao.zhang.pojo.RefereeExample" resultType="java.lang.Integer" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    select count(*) from referee
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    update referee
    <set >
      <if test="record.refereeId != null" >
        referee_id = #{record.refereeId,jdbcType=INTEGER},
      </if>
      <if test="record.userId != null" >
        user_id = #{record.userId,jdbcType=INTEGER},
      </if>
      <if test="record.startJudgeTime != null" >
        start_judge_time = #{record.startJudgeTime,jdbcType=DATE},
      </if>
      <if test="record.experience != null" >
        experience = #{record.experience,jdbcType=VARCHAR},
      </if>
      <if test="record.honor != null" >
        honor = #{record.honor,jdbcType=VARCHAR},
      </if>
      <if test="record.certificate != null" >
        certificate = #{record.certificate,jdbcType=VARCHAR},
      </if>
      <if test="record.registerTime != null" >
        register_time = #{record.registerTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.note != null" >
        note = #{record.note,jdbcType=VARCHAR},
      </if>
      <if test="record.isDelete != null" >
        is_delete = #{record.isDelete,jdbcType=BIT},
      </if>
      <if test="record.other != null" >
        other = #{record.other,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    update referee
    set referee_id = #{record.refereeId,jdbcType=INTEGER},
      user_id = #{record.userId,jdbcType=INTEGER},
      start_judge_time = #{record.startJudgeTime,jdbcType=DATE},
      experience = #{record.experience,jdbcType=VARCHAR},
      honor = #{record.honor,jdbcType=VARCHAR},
      certificate = #{record.certificate,jdbcType=VARCHAR},
      register_time = #{record.registerTime,jdbcType=TIMESTAMP},
      note = #{record.note,jdbcType=VARCHAR},
      is_delete = #{record.isDelete,jdbcType=BIT},
      other = #{record.other,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  
  <update id="updateByPrimaryKey" parameterType="zhentao.zhang.pojo.Referee" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    update referee
    set user_id = #{userId,jdbcType=INTEGER},
      start_judge_time = #{startJudgeTime,jdbcType=DATE},
      experience = #{experience,jdbcType=VARCHAR},
      honor = #{honor,jdbcType=VARCHAR},
      certificate = #{certificate,jdbcType=VARCHAR},
      register_time = #{registerTime,jdbcType=TIMESTAMP},
      note = #{note,jdbcType=VARCHAR},
      is_delete = #{isDelete,jdbcType=BIT},
      other = #{other,jdbcType=VARCHAR}
    where referee_id = #{refereeId,jdbcType=INTEGER}
  </update>
</mapper>